@{
    ViewBag.Title = "Home Page";
}

<header class="bg-gradient" id="home">
    <div class="container mt-5">
        <h1>@Resource.LandingPage_Short_Description </h1>
        <p class="tagline">@Resource.LandingPage_Tagline </p>
    </div>
    <div class="img-holder mt-3"><img src="~/images/graphic.png" alt="phone" class="img-fluid"></div>
</header>