@model SampleAppWithDapper.Models.ManageLoginsViewModel

@{
    ViewBag.Title = "Manage your external logins";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
@{
   
    }
}
